<!DOCTYPE html>
<html>
<head>
<title>Welcome to netmap.home!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to netmap.home!</h1>
<ul>
    <li> <a href="http://192.168.1.1">some.home</a>    </li>
    <li> <a href="http://192.168.1.5">some2.home</a>    </li>
</body>
</html>
